### 3.3 Python Crash Course

Lab 2: 
#Priya Murthy - 50248887
#Shefali Sharma - 50247677

In [1]:
print ("hello world")

hello world

In [2]:
3/2

1.5

In [3]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA' : 'Washington', 'TX' : 'Texas'}

In [4]:
def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]

In [5]:
input_data = [
    {'employee_name' : 'Susan', 'salary': 100000.0, 'state_code': 'WA'},
    {'employee_name' : 'Ellen', 'salary': 75000.0, 'state_code': 'TX'}
]

In [7]:
for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print (name + ' now lives in ' + state)
    print (' and makes $' + str(salary))

Susan now lives in Washington
 and makes $105000.0
Ellen now lives in Texas
 and makes $78750.0

In [9]:
my_integer = 2
my_other_integer = 2 + 3
my_float = 2.0

In [10]:
my_true_bool = True
my_false_bool = False
this_is_true = (0 < 100)
this_is_false = (0 > 100)

### 3.4 Strings

In [11]:
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"

In [12]:
multi_line_string = """line 1
line 2"""

In [13]:
"ABCD"[0]

'A'

In [14]:
"ABCD"[0:2]

'AB'

In [15]:
"ABCD"[1:3]

'BC'

In [16]:
"ABCD"[1:]

'BCD'

In [17]:
"ABCD"[:-1]

'ABC'

In [18]:
my_list = ["a ", "b ", "c "]
my_set = set(my_list)
my_tuple = tuple(my_list)

In [19]:
print (my_list[0])

a

In [20]:
my_list[0] = "A"

In [21]:
my_list.append("d ")

In [22]:
mixed_list =  ["A ", 5.7, "B ", [1,2,3]]

In [23]:
original_list = [1,2,3,4,5,6,7,8]

In [25]:
squares = [x*x for x in original_list]

In [27]:
squares_of_evens = [x*x for x in original_list
                   if x%2 == 0]

In [28]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64]

In [29]:
print(squares_of_evens)

[4, 16, 36, 64]

In [31]:
my_list = ["a", "b", "c"]
first_two_elements = my_list[0:3]

In [32]:
last_two_elements = my_list[1:]

In [33]:
all_but_last_element = my_list[:-1]

In [34]:
"ABC DEF".split()

['ABC', 'DEF']

In [35]:
 "ABC \tDEF".split()

['ABC', 'DEF']

In [36]:
 "ABC \tDEF".split(' ')

['ABC', '\tDEF']

In [37]:
 "ABCABD".split("AB")

['', 'C', 'D']

In [38]:
",".join(["A", "B", "C"])

'A,B,C'

In [39]:
 start, end, count_by = 1, 7, 2

In [40]:
"ABCDEFG"[start: end: count_by]

'BDF'

In [44]:
my_tuple1 = (1, 2, "hello world")
print (my_tuple1[0]) # prints 1
#my_tuple1[1] = 5 # This will give an error!

1

In [45]:
my_tuple1 = (1,2)

In [47]:
zeroth_field, first_field = my_tuple1

In [48]:
print(zeroth_field)
print(first_field)

1
2

In [50]:
my_dict = {"January": 1, "February":2}
print (my_dict["January"]) # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year"

1

In [51]:
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()

In [52]:
same_as_pairs

dict_items([('one', 1), ('two', 2)])

In [55]:
s = set()

In [56]:
5 in s

False

In [57]:
s.add(5)

In [58]:
5 in s

True

In [59]:
s

{5}

In [60]:
s.add(5)

In [61]:
s

{5}

### 3.5 Defining Funtions

In [63]:
def my_function(x):
    y = x+1
    x_sqrd = x*x
    return x_sqrd

In [64]:
five_plus_one_sqrd = my_function(5)

In [65]:
five_plus_one_sqrd

25

In [67]:
def my_raise(x, n=2):
    return pow(x,n)

In [69]:
two_sqrd = my_raise(2)
two_cubed = my_raise(2, n=3)
print(two_sqrd)
print(two_cubed)

4
8

In [70]:
sqr = lambda x : x*x
five_sqrd = sqr(5)

In [71]:
five_sqrd

25

In [73]:
def apply_to_evens(a_list, a_func):
    return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)

In [74]:
sqrs_of_evens

[4, 16]

In [75]:
my_list = [1, 2, 3]
for x in my_list:
    print("the number is ", x)

the number is  1
the number is  2
the number is  3

In [76]:
for key, value in my_dict.items():
    print ("the value for ", key, " is ", value)

the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3

In [79]:
i = 4
if i < 3:
    print ("i is less than three")
elif i < 5: print ("i is between 3 and 5")
else: print ("i is greater than 5")

i is between 3 and 5

In [80]:
i = 0
while i < 5:
    print ("i is still less than five")
    i = i+1

i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [81]:
try:
    lines = input_text.split("\n")
    print ("tenth line was: ", lines[9])
except:
    print ("There were < 10 lines")

There were < 10 lines

In [3]:
class Dog:
    def __init__(self, name):
        self.name = name
    def respond_to_command(self, command):
        if command == self.name: self.speak()
    def speak(self):
        print("bark bark!!")

fido = Dog("fido")
fido.respond_to_command("spot") # does nothing
fido.respond_to_command("fido") # prints bark bark

bark bark!!

In [4]:
 a = 5 # a is a hashable int

In [5]:
 b = a # b points to a COPY of a

In [6]:
a = a + 1
print (b)

5

In [7]:
A = []

In [8]:
B = A

In [9]:
A.append(5)

In [10]:
B

[5]

### 3.6 Python's Technical Libraries

In [11]:
import pandas as pd

In [13]:
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})

In [14]:
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools

In [15]:
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

In [18]:
df = pd.DataFrame({
"name": ["Bob", "Alex", "Jane"],
"age": [60, 25, 33]
})
print (df.index) # prints 0â€2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print (df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print (bobs_row["age"]) # prints 60

RangeIndex(start=0, stop=3, step=1)
Index(['Bob', 'Alex', 'Jane'], dtype='object', name='name')
60

/Users/shefali9222/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()

In [19]:
 s = pd.Series([1,2,3])

In [20]:
s

0    1
1    2
2    3
dtype: int64

In [21]:
s+2

0    3
1    4
2    5
dtype: int64

In [22]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
s + pd.Series([4,4,5])

0    5
1    6
2    8
dtype: int64

In [24]:
 bobs_row = df_w_name_as_ind.ix["Bob"]

In [25]:
type(bobs_row)

pandas.core.series.Series

In [26]:
 bobs_row

age    60
Name: Bob, dtype: int64

In [27]:
 df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})

In [28]:
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})

In [29]:
 joined = df_w_age.set_index("name").join(
 df_w_height.set_index("name"))

In [30]:
 print (joined)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [31]:
 print (joined.reset_index())

     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [32]:
 df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],
"gender": ["M", "M", "F"]
})

In [33]:
print (df.groupby("gender").mean())

         age  height
gender
F       33.0     5.5
M       42.5     5.1